@import-normalize;
@import url("https://api.fontshare.com/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901,1,2&display=swap");

body {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  background-color: #e8eaee;
}

p {
  margin: 0;
}
